<p id="notice"><%= notice %></p>
<% if !@user.nil? -%>
<%=
  if !@user.avatar.url.nil?
      image_tag @user.avatar.url(:thumb), class:"img-circle"
    end 
%>


<p>
  <%= @user.name %>
</p>
<% else -%>
  <strong>Not Found</strong>
<% end -%>

