<p id="notice"><%= notice %></p>

<h1>Discover New Arts</h1>

<table>
  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <%= image_tag art.artwork.url(:medium) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

