<p id="notice"><%= notice %></p>
<p>
<div class="row clearfix">
    <!-- Put the curated arts here -->
    <% @arts.each do |art| %>
        
      <div class="col-sm-6 col-md-3">
         <div class="thumbnail">
            <%= link_to (image_tag art.artwork.url(:medium)), art  %>
         </div>
      </div>
    <% end %>
</div>

<h2>Latest Submission</h2>
<div class="row clearfix">
    <% @latests.each do |latest| %>
        
      <div class="col-md-1">
         <div class="span">
            <%= link_to (image_tag latest.artwork.url(:thumb)), latest  %>
         </div>
      </div>
    <% end %>

</div>

<h2>Artists</h2>
<div class="row clearfix">
    <% @artists.each do |artist| %>
        
      <div class="col-md-1">
         <div class="span">
            <%= link_to (image_tag artist.user.avatar.url(:thumb)), artist  %>
         </div>
      </div>
    <% end %>

</div>

