@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  background-color: #2c3e50;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 15px;
  color: #e74c3c;
  a {
    color: #2F363E;
  }
}

#subkmplr {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 30px;
  color: #16a085;
  a {
    color: #16a085;
  }
}

#menukmplr {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #2980b9;
  a {
    color: #2980b9;
  }
}

#main_content {
  #content {
    float: none;
  }
  padding-top: 50px;
  padding-bottom: 100px;
  .link {
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title {

      a {
        color: #FF4500;
      }
    }
  }
  .comments_title {
    margin-top: 2em;
  }
  #comments {
    .comment {
      padding: 1em 0;
      border-top: 1px solid #E9E9E9;
      .lead {
        margin-bottom: 0;
      }
    }
  }
}
